<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionDeAulas</title>
    
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeAulas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>

    <header class="m-1 rounded-md p-2 shadow-md shadow-gray-500">
        <div class="m-4 flex flex-row items-center justify-between align-middle">
            <a asp-controller="Home" asp-action="Index" class="my-auto flex flex-col items-center justify-center">
                <h1 class="h-fit p-1 text-6xl font-bold text-green-600">CURS</h1>
                <h2 class="h-fit p-1 text-4xl font-bold text-red-600">Gestion de Aulas</h2>
            </a>
            <div>
                <a asp-controller="Account" asp-action="Login" class="cursor-pointer text-blue-800 no-underline">Ingresar</a>
                <a asp-controller="Account" asp-action="Register" class="pointer-events-auto text-blue-800 no-underline">Registrarse</a>
            </div>
        </div>
    </header>
    
        <main role="main" class="w-full px-4 pt-2">
            @RenderBody()
        </main>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
