@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Perfil de Usuario";
}
<Section class="flex min-h-dvh w-full flex-col items-center">
    <h2 class="w-full bg-gray-900 p-4 text-center text-6xl font-bold text-gray-50">Perfil de Usuario</h2>
    <article>
        <div ><span as>Nombre: </strong></div>
    </article>
</Section>