@model Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editar Carrera";
}
<Section class="flex min-h-dvh w-full flex-col items-center">
    <h2 class="w-full bg-gray-900 p-4 text-center text-6xl font-bold text-gray-50">Editar Carrera</h2>
    <form class="flex h-full w-2/3 flex-col items-center justify-center rounded-md py-4" asp-controller="Courses" asp-action="Create" method="POST">
        <input type="hidden" asp-for="Id"/>
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Name" class="text-red-600"></span>
        </div>

        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="StartingYear"></label>
            <input asp-for="StartingYear" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="StartingYear" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="InstitutionId"></label>
            <select asp-for="InstitutionId" class="border-2 mx-1 rounded-md border-gray-900 p-1">
                <option value="fnewfnwefef">Universidad Tecnologica Nacional</option>
            </select>
            <span asp-validation-for="InstitutionId" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="border-2 mx-1 rounded-md border-gray-900 p-1"></textarea>
            <span asp-validation-for="Description" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 justify-between">
            <button type="submit" class="mt-4 w-40 rounded-md border border-transparent bg-gradient-to-tr from-blue-800 to-blue-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                <i class="fa fa-plus" aria-hidden="true"></i>  Editar Carrera
            </button>
            <a asp-action="Index" asp-controller="Home" class="mt-4 w-40 rounded-md border border-transparent bg-gradient-to-tr from-green-800 to-green-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Volver
            </a>

        </div>


    </form>

</Section>