@model ClassRoom
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editar Aula";
}
<Section class="flex min-h-dvh w-full flex-col items-center">
    <h2 class="w-full bg-gray-900 p-4 text-center text-6xl font-bold text-gray-50">Editar Aula</h2>
    <form class="flex h-full w-2/3 flex-col items-center justify-center rounded-md py-4" asp-controller="ClassRoom" asp-action="Edit" method="POST">

        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="RoomNumber"></label>
            <input asp-for="RoomNumber" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="RoomNumber" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Name" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Seats"></label>
            <input asp-for="Seats" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Seats" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="border-2 mx-1 rounded-md border-gray-900 p-1"></textarea>
            <span asp-validation-for="Description" class="text-red-600"></span>
        </div>
        <div class="mt-2 flex flex-col justify-center self-center">
            <label asp-for="IsSpecial" class="font-bold"></label>
            <input type="checkbox" asp-for="IsSpecial" class="peer mx-auto mt-2 h-5 w-5 cursor-pointer appearance-none rounded border border-slate-300 py-1 shadow transition-all checked:bg-slate-800 checked:border-slate-800 hover:shadow-md" />
            <span asp-validation-for="IsSpecial" class="text-red-600"></span>
        </div>



        <div class="flex w-2/3 justify-between">
            <button type="submit" class="mt-4 w-40 rounded-md border border-transparent bg-gradient-to-tr from-blue-800 to-blue-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                <i class="fa fa-pencil" aria-hidden="true"></i>  Editar Aula
            </button>
            <a asp-action="Index" asp-controller="ClassRoom" class="mt-4 w-40 rounded-md border border-transparent bg-gradient-to-tr from-green-800 to-green-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Volver
            </a>

        </div>


    </form>

</Section>