@model GestionDeAulas.Models.ViewModels.Classes.ClassessCreateVM


@{
    ViewData["Title"] = "Crear Materia";
}
<Section class="flex min-h-dvh w-full flex-col items-center">
    <h2 class="w-full bg-gray-900 p-4 text-center text-6xl font-bold text-gray-50">Crear Materia</h2>
    <form class="flex h-full w-2/3 flex-col items-center justify-center rounded-md py-4" asp-controller="Classes" asp-action="Create" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Name" class="text-red-600"></span>
        </div>


        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="CourseId"></label>
            <select asp-for="CourseId" class="border-2 mx-1 rounded-md border-gray-900 p-1">
                @{
                    if(Model.CoursesList.Count() > 0)
                    {
                        foreach (var item in Model.CoursesList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                    else
                    {
                        <option>No hay Carreras Cargadas</option>
                    }
                }
            </select>
            <span asp-validation-for="Course" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="UserId"></label>
            <select asp-for="UserId" class="border-2 mx-1 rounded-md border-gray-900 p-1">
                @{
                    if(Model.TeachersList.Count() > 0)
                    {
                        foreach (var teacher in Model.TeachersList)
                        {
                            <option value="@teacher.Id">@teacher.Name</option>
                        }
                    }else
                    {
                        <option >No hay docentes cargados...</option>
                    }
                }
                
            </select>
            <span asp-validation-for="UserId" class="text-red-600"></span>
        </div>
   
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="border-2 mx-1 rounded-md border-gray-900 p-1"></textarea>
            <span asp-validation-for="Description" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 justify-between">
            <button type="submit" class="mt-4 w-40 rounded-md border border-transparent bg-gradient-to-tr from-blue-800 to-blue-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                <i class="fa fa-plus" aria-hidden="true"></i>  Crear Materia
            </button>
            <a asp-action="Index" asp-controller="Classes" class="mt-4 w-40 rounded-md border border-transparent bg-gradient-to-tr from-green-800 to-green-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Volver
            </a>

        </div>


    </form>

</Section>